/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* FIM RESET GLOBAL */
@media (max-width: 600px) {
    #cabeca {
        font-family: 'Inter-Bold', Helvetica, sans-serif;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
    }

    .img {
        height: 150px;
        width: 150px;
    }

    #sobre {
        padding: 100px;
        width: 100%;
        height: auto;
        border-radius: 0;
        font-size: 0.9rem;
    }

    #caixamaster {
        width: 100%;
        height: auto;
        padding: 100px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
    }

    #exp,
    #edu,
    #int,
    #idi {
        width: 80vw;
        height: auto;
        margin-bottom: 15px;
    }
}



#geral {
    display: grid;
    place-items: center;

}


.img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 25px;


}

#cabeca {
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: #8752ff;
    display: flex;
}


#name {
    font-family: Inter-Bold, Helvetica, sans-serif;
    font-size: 50px;
    padding: 25px;
    margin: -1px;
}


#cargo {
    font-family: Inter-Bold, Helvetica, sans-serif;
    font-size: 20px;
}

#name ul {

    list-style: none;
}

#contato {
    font-family: Inter-Bold, Helvetica, sans-serif;
    font-size: 20px;
    padding: 25px;
    margin: 12px;
    text-align: end;
}

#caixamaster {
    align-items: center;
    width: 1000px;
    height: auto;
    background-color: #af9ef0;
    border: #0e0d0d;
}

#sobre {
    width: 1000px;
    background-color: #af9ef0;
    padding: 0 100px;
}

#linha {
    width: 800px;
}

.container {
    width: 900px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

#exp {
    width: 65vw;
    height: auto;
}

#edu {
    width: 70vw;
    height: auto;
}

.container1 {
    width: 900px;
    height: auto;
    display: flex;
}

#int {
    width: 60vw;
    height: auto;
}

#idi {

    background-color: white);
    width: 60vw;
    height: auto;
}